body {
    font-family: 'EB Garamond', serif;
    background-color: rgb(255, 252, 252);
}

h1 {
    padding-top: 20px;
    margin: 10px 5% 20px;
}

h2 {
    border-top: 1px solid #ccc;
    border-width: 1px 0;
    margin: 0;
    padding: 20px 0 10px;
    text-align: center;
    margin: 10px 5% 20px;
}

.title {
    font-weight: 500;
    padding: 10px 5% 10px;
    width: 90%;
    height: 5pxpx;
    bottom: 5px;
    left: 25%;
    border-bottom: 1px solid red;
}

ul {
    list-style-type: lower-alpha;
    font-style: italic;
    font-weight: bolder;
}

p {
    margin: 0 5%;
    line-height: 1.75em;
}

.header img {
    float: left;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: #555;
    margin: 10px 5% 20px;
}

.header h1 {
    position: relative;
    top: 18px;
    left: 10px;
    margin: 10px 5% 20px;
}

#events {
    text-align: center;
    margin: 10px 5% 20px;
    border: 1px solid rgb(255, 212, 212);
    padding: 3px 0;
}

.poster {
    width: 300px;
    height: 400px;
}

#footer {
    text-align: center;
    padding: 20px 0 10px;
}

.navli {
    list-style-type: none;
    margin: 20px 0 10px;
    padding: 0;
    overflow: hidden;
    margin: 10px 5% 20px;
}

.nava {
    float: left;
    display: inline;
    padding: 10px;
    font-weight: 100;
    font-size: larger;
}

a:link {
    text-decoration: none;
    color: rgb(123, 100, 177);
}

a:visited {
    text-decoration: none;
    color: rgb(123, 100, 177);
}

a:hover {
    text-decoration: none;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    color: rgb(66, 150, 153);
}

a:active {
    text-decoration: none;
    color: rgb(11, 71, 71);
}

#me {
    margin: 0 25% 0;
    text-align: center;
}

#portfolio {
    margin: 10px 5% 20px;
    border: 1px solid rgb(255, 212, 212);
    padding: 3px 0;
}

#contact {
    text-align: center;
    margin: 10px 5% 10px;
    border: 1px solid rgb(255, 212, 212);
    padding: 3px 0;
}

.contact__input {
    width: 25%;
    padding: 1rem;
    margin-bottom: 10px;
    border-radius: 1rem;
    outline: none;
}

.contact__button {
    padding: .5rem;
    margin-bottom: 20px;
    border-radius: 10%;
    background-color: bisque;
}

.contact__button:hover {
    text-decoration: none;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    color: rgb(66, 150, 153);
    background-color: darkred;
}

.links {
    font-weight: bold;
}

#industries {
    margin: 30px 35% 30px;
    border: .1px solid red;
    padding: 2px 2px;
    font-weight: lighter;
    font-size: larger;
}

#about {
    border: 1px solid rgb(255, 212, 212);
    margin: 10px 5% 20px;
    padding: 1px 0;
}

.content {
    font-style: normal;
    font-weight: lighter;
}

li {
    margin-top: 10px;
}

#binary {
    text-align: center;
    font-weight: lighter;
    font-family: 'Courier New', Courier, monospace;
    margin: 0 35% 0;
    padding: 10px 0;
    border: 1px solid rgb(131, 193, 232);
}

#email {
    font-family: 'Courier New', Courier, monospace;
    font-stretch: expanded;
    font-size: larger;
    font-weight: 400;
    border: 1px solid rgb(184, 222, 163);
    margin: 10px 45% 30px;
    padding: 10px;
}